body{
    margin: 0;  
  }
  
  h1{
    margin: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 36pt;
    font-weight: 100;
  }
  
  header{
    background-image: url("images/banner.png");
    background-size: cover;
    border-top: 10px solid #2dcd70;
    display: flex;
    height: 450px;
    justify-content: space-around;
    background-color: blue;
  }
  
  header div:first-child{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  header div:last-child{
    display: flex;
    align-items: flex-end;
  }
  
  header div:last-child img{
    width: 330px;
  }
  
  p{
    width: 370px;
    font-size: 22px;
    color: white;
  }
  
  span{
    color: #2dcd70;
  }
  
  

  
  #divisaoDosIcones{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 0;
  }
  
  #divisaoDosIcones img{
    width: 20px;
  }
  
  #divisaoDosIcones div{
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #divisaoDosIcones div:hover{
    background-color: #2dcd70;
  }